@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;700&display=swap');
/* font-family: 'Titillium Web', sans-serif; */

/* Variaveis CSS */ /*Indentidade Visual*/
:root{
    --header: #1E1C21;
    --background: #000000;
    --red: #c20000;
    --blue: #001f70;
    --gradient: linear-gradient(180deg, #000000 0%, rgba(83, 83, 83, 0.577381) 25%, rgba(196, 196, 196, 0) 87.5%);
    --font: 'Titillium Web', sans-serif;
}

/* Resetar os valores */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}

/* Body */
body{
    font-size: 16px;
    background-color: var(--background);
    font-family: var(--font);
}

/* Cabeçalho - Header */
.header{
    width: 100%;
    height: 5em; /*1em = 16px ou o font-size do elemento que se tem referencia* (rem - pega o tamanho da font-size do proprio navegador)*/
    background-color: var(--header);
}

.header img{
    width: 100%;
    max-width: 21.18em;
    display: block;
}

.content{
    width: 100%;
    max-width: 75em;
    height: 100%;
    margin: 0 auto;
}

.flex-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-header{
    width: 100%;
    max-width: 50em;
}

.menu-header ul{
    display: flex;
    justify-content: space-between; 
}

.menu-header a{
    padding: 0.9em 0.66em;
    color: white;
    font-size: 1.5em;
    text-transform: uppercase;
    transition: 0.1s;
}

.menu-header a:hover{
    background-color: var(--red);
}

#header-bars{
    display: none;
}

.menu-header-response{
    display: none;
}

/* Banner - Main */
.banner{
    width: 100%;
    height: 607px;
    background: rgb(2,0,36);
    background: linear-gradient(-90deg, rgba(2,0,36,1) 0%, rgba(0,0,0,1) 7%, rgba(236,20,20,1) 100%);
}

.content-banner{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.image-banner img{
    width: 90%;
}

.image-banner{
    width: 40%;
    margin-left: 5%;
}

.text-banner{
    width: 40%;
    margin-right: 10%;
    text-align: center;
}

.text-banner h1{
    color: white;
    font-size: 90px;
    font-family: var(--font);
}

.text-banner p{
    color: white;
    font-family: var(--font);
    font-size: 30px;
}

.text-banner a{
    color: white;
    font-size: 30px;
    font-family: var(--font);
    padding: 10px 45px;
    background-color: var(--red);
    border-radius: 10px;
    position: relative;
    top: 40px;
    transition: 0.2s;
}

.text-banner a:hover{
    background-color: #006400;
    color: white;
}

/* Games - Section */
.games{
    width: 100%;
    height: 121px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-games{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 15%;
}

.content-games img:hover{
    opacity: 1;
}

.content-games img{
    width: 90%;
    opacity: 0.6;
    transition: 0.3s;
    min-width: 120px;
}

/* About - Section */
.about{
    width: 100%;
    height: 31.25em;
    background-color: var(--blue);

    position: relative;
}

.container-about{
    position: absolute;
    top: 10px; 
}

.back-about{
    width: 100%;
    height: 30.5em;
    display: flex;
    align-items: center;
}

.angulation-about{
    width: 100%;
    height: 24.125em;
    background-color: var(--background);
    transform: skewY(-4deg);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content-about{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-about{
    width: 35%;
    margin-left: 6%;
    height: auto;
    color: white;
}

.text-about h2{
    padding: 20px 0px;
}

.image-about{
    width: 60%;
    display: flex;
    justify-content: center;
}

/* Matches - Section*/
.matches{
    color: white;
    width: 100%;
    height: 7.5em;
    background-color: var(--background);
    display: flex;
    justify-content: center;
}

.content-matches{
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
}

.live-matches{
    width: 30%;
    margin: 0 6%;
    display: flex;
}

.later-matches{
    width: 70%;
    display: flex;
}

.live-matches h2, .later-matches h2{
    margin-right: 20px;
    text-transform: uppercase;
}

.teams-matches{
    display: flex;
    align-items: center;
    padding: 10px;
    border: 4px solid rgba(255,0,0,0.4);
    transition: 0.2s;
    opacity: 1;
}

.teams-matches:hover{
    opacity: 1;
    border: 4px solid rgba(255,0,0,1)
}

#espacamento{
    margin-right: 10px;
}

.teams-matches p, img{
    padding: 0 13px;
} 

/* News - Section */
.news{
    width: 100%;
    height: 61.25em;
    background-color: #1E1C21;
}

.news h2{
    color: white;
    font-size: 35px;
    margin-left: 10%;
    padding: 30px;
    padding-left: 0px;
}

.content-news{
    width: 80%;
    margin: 0 10%;
    display: flex;
}

.news-news{
    width: 80%;
}

.content-tabela{
    width: 20%;
}

.bloco-news{
    width: 90%;
    margin-bottom: 4%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.news-bloco{
    width: 14.81em;
    height: 22.87em;
    background: linear-gradient(180deg, #000000 0%, rgba(83, 83, 83, 0.577381) 25%, rgba(196, 196, 196, 0) 87.5%);
    box-shadow: 1px 1px 20px 4px #000000;
    display: flex;
    flex-direction: column;
    transition: 0.2s;
}

.news-bloco:hover{
    transform: scale(1.1);
}


.team-tabela{
    color: white;
    margin-bottom: 8px;
    padding: 10px 0px;
    border: 5px solid rgba(255,0,0,0.4);
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.2s;
}

.team-tabela:hover{
    border: 5px solid rgba(255,0,0,1);
}

.team-tabela p{
    padding-top: 10px;
}

.placar-tabela{
    width: 221px;
    height: auto;
    display: flex;
    align-items: center;
}

.text-bloco{
    color: white;
    margin: 10px;
    margin-top: 0;
}

.text-bloco h3{
    font-family: 18px;
    text-transform: uppercase;
}


.image-bloco img{
    padding: 0;
}

.tabela-news{
    width: 14.81em;
    height: 46.93em;
    background: linear-gradient(180deg, #000000 0%, rgba(83, 83, 83, 0.577381) 25%, rgba(196, 196, 196, 0) 87.5%);
    box-shadow: 1px 1px 20px 4px #000000;
}

/* Footer - Footer */
.footer{
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-self: center;
}

.content-footer{
    width: 100%;
    height: 100%;
    margin: 10px 10%;
}

.superior-footer{
    width: 100%;
    height: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links-uteis-footer{
    width: 30%;
}

.links-uteis-footer h4{
    color: white;
    text-decoration: underline;
}

.links-uteis-footer a{
    color: white;
    font-size: 12px;
    text-decoration: none;
}

.links-uteis-footer a:hover{
    text-decoration: underline;
}

.mapa-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mapa-site-footer h4{
    color: white;
    padding: 5px;
    text-decoration: underline;
}

.mapa-site-footer ul{
    display: flex;
}

.mapa-site-footer a{
    color: white;
    margin: 10px;
    transition: 0.2s;
}

.mapa-site-footer a:hover{
    text-decoration: underline;
}

.social-medias-footer{
    width: 30%;
    display: flex;
    justify-content: flex-end;
}

.social-medias-footer h4{
    color: white;
    padding: 7px;
    text-decoration: underline;
}

.redes-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.links-redes{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.links-redes img{
    transition: 0.2s;
}

.links-redes img:hover{
    transform: scale(1.2);
}

.line-footer{
    width: 100%;
    border: 1px solid #cdcdcd;
    background-color: #cdcdcd;
    margin: 25px 0;
}

.inferior-footer{
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-footer{
    width: 30%;
}

.logo-footer img{
    width: 100%;
    max-width: 250px;
    transition: 0.2s;
}

.logo-footer img:hover{
    transform: scale(1.1);
}

.direitos-footer{
    color: white;
}

.direitos-footer span:hover{
    color: var(--red);
}

.buttons-footer{
    width: 30%;
    display: flex;
    justify-content: flex-end;
}

.buttons-footer ul{
    display: flex;
}

.buttons-footer a{
    color: white;
    padding: 10px;
}

.buttons-footer a:hover{
    text-decoration: underline;
}


/* Extra large devices (large desktops, 1200px and up)*/
@media screen and (max-width: 75em){
    /* Menu Superior - Header */
    .content img{
        margin-right: 2%;
    }
    
    .flex-content{
        justify-content: flex-start;
    }
    
    .menu-header a{
        font-size: 1.2em;
    }

    /* Banner - Main */
    
    .image-banner img{
        width: 100%;
    }
    
    .text-banner h1{
        font-size: 4.37em;
    }
    
    .text-banner p{
        font-size: 1.5em;
    }
    
    .text-banner a{
        font-size: 25px;
        padding: 5px 35px;
        top: 30px;
    }

    /* Games - Section */
    .content-games img{
        opacity: 1;
    }

    /* About - Section */
    .about{
        height: auto;
    }

    .back-about{
        height: 35.5em;
    }

    .angulation-about{
        height: 30.125em;
    }

    .text-about{
        height: 390px;
    }

    .image-about{
        width: 40%;
    }

    /* Matches - Section */
    .matches{
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .content-matches{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .live-matches{
        width: auto;
        margin: 10px 0;
        display: flex;
        align-items: center;
    }

    .later-matches{
        width: auto;
        margin: 10px 0;
        display: flex;
        align-items: center;
    }

    .title-matches-live,  .title-matches-later{
        width: 170px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    .teams-matches{
        margin: 10px;
    }

    .live-matches h2, .later-matches h2{
        margin: 0;
        padding: 10px 0;
        text-align: center;
        text-transform: uppercase;
    }

    #espacamento{
        margin-right: 0px;
    }
}

/* Large devices (desktops, 992px and up)*/
@media screen and (max-width: 62em){
    /* Menu Superior - Header */
    .header img{
        width: 35%;
    }

    .menu-header ul{
        justify-content: space-around;
    }
    
    .menu-header a{
        padding: 0.9em 0px;
        font-size: 1em;
    }

     /* Banner - Main */
    .banner{
        width: 100%;
        height: 507px;
     }

    .content-banner{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .image-banner{
        display: none;
    }

    .text-banner{
        width: 600px;
        height: 285px;
        margin: 0px;
    }

    .text-banner h1{
        font-size: 90px;
    }

    .text-banner p{
        font-size: 30px;
    }

    .text-banner a{
        font-size: 30px;
        padding: 10px 45px;
        top: 40px;
    }

    /* Games - Section */
    .content-games img{
        width: 100%;
    }

    /* About - Section */
    .angulation-about{
        height: 24.125em;
    }

    .container-about{
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .text-about{
        width: 100%;
        height: 320px;
        margin-left: 0;
    }
    
    .image-about{
        display: none;
    }
    /* Matches - Section */
    .matches{
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .content-matches{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .live-matches{
        width: 368px;
        margin: 10px 0;
        display: block;
    }

    .later-matches{
        width: 368px;
        margin: 10px 0;
        display: block;
    }

    .teams-matches{
        width: 358px;
        margin-bottom: 10px;
    }

    .title-matches-later, .title-matches-live{
        width: 368px;
        justify-content: center;
        align-items: center;
    }

    .live-matches h2, .later-matches h2{
        margin: 0;
        padding: 10px 0;
        text-align: center;
        text-transform: uppercase;
    }

    #espacamento{
        margin-right: 0px;
    }
}

/* Medium devices (tablets, 768px and up) */
@media screen and (max-width: 48em){
    /* Menu Superior - Header */
    .header img{
        width: 100%;
        max-width: 15em;
        display: block;
    }

    .content{
        width: 93%;
    }

    .flex-content{
        justify-content: space-between;
    }
    
    .menu-header{
        display: none;
    }
    
    #header-bars{
        display: inline;
        font-size: 40px;
        color: white;
    }

    .menu-header-response {
        display: none;
    }

    .menu-header-response a{
        width: 100%;
        display: block;
        text-align: center;
        padding: 0.4em 0.22em;
        color: white;
        font-size: 1em;
        text-transform: uppercase;
        transition: 0.1s;
        border: 2px solid rgb(194, 0, 0, 0.3);
    }

    .menu-header-response a:hover{
        border: 2px solid rgb(194, 0, 0, 1);
    }

     /* Banner - Main */
     .banner{
        height: 457px;
     }

    .text-banner h1{
        font-size: 75px;
    }

    .text-banner p{
        font-size: 25px;
    }

    .text-banner a{
        font-size: 25px;
        padding: 5px 30px;
        top: 25px;
    }

    /* Games - Section */
    #counter-strike-games{
        display: none;
    }

    /* About - Section */
    .angulation-about{
        height: 24.125em;
    }

    .text-about{
        height: 340px;
    }   
}

/* Small devices (landscape phones, 576px and up) */
@media screen and (max-width: 36em){
    /* Menu Superior - Header */
    .content img{
        width: 45%;
    }
    #header-bars{
        font-size: 25px;
    }

     /* Banner - Main */
     .banner{
        height: auto;
     }

     .text-banner{
         height: 190px;
         margin: 40px 0;
     }

    .text-banner h1{
        font-size: 50px;
    }

    .text-banner p{
        font-size: 16px;
    }

    .text-banner a{
        font-size: 25px;
        padding: 5px 30px;
        top: 20px;
    }

    /* Games - Section */
    .games{
        height: auto;
    }

    .content-games{
        margin: 20px 0;
    }

    #league-legends-games{
        display: none;
    }

    /* About - Section */

    .about{
        height: auto;
    }

    .angulation-about{
        height: 30.125em;
    }

    .text-about{
        height: 500px;
        margin: 10px 0;
    } 

}