@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;700&display=swap');
/* font-family: 'Titillium Web', sans-serif; */

/* Variaveis CSS */ /*Indentidade Visual*/
:root{
    --background: #000000;
    --red: #c20000;
    --blue: #001f70;
    --gradient: linear-gradient(180deg, #000000 0%, rgba(83, 83, 83, 0.577381) 25%, rgba(196, 196, 196, 0) 87.5%);
    --font: 'Titillium Web', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body{
    font-size: 16px;
    background-color: var(--background);
    font-family: var(--font);
}

/* Cabeçalho - Header */
.header{
    width: 100%;
    height: 5em; /*1em = 16px ou o font-size do elemento que se tem referencia* (rem - pega o tamanho da font-size do proprio navegador)*/
    background-color: var(--background);
    border: 2px solid white;
}

.header img{
    width: 100%;
    max-width: 21.18em;
}

.content{
    width: 100%;
    max-width: 75em;
    height: 100%;
    margin: 0 auto;
}

.flex-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-header{
    width: 100%;
    max-width: 50em;
}

.menu-header ul{
    display: flex;
    justify-content: space-between; 
}

.menu-header a{
    padding: 0.9em 0.66em;
    color: white;
    font-size: 1.5em;
    text-transform: uppercase;
    transition: 0.1s;
}

.menu-header a:hover{
    background-color: var(--red);
}

#header-bars{
    color: white;
    font-size: 2em;
    display: none;
}

/* Extra Large - Até 1199px*/
@media screen and (max-width: 74.93em){

}

/* Large - Até 991px*/
@media screen and (max-width: 61.93em){

}

/* Medium - Até 767px*/
@media screen and (max-width: 47.93em){

}

/* Small - Até 576px*/
@media screen and (max-width: 36em){

}